<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="basicDetails">
      <h2 data-cy="basicDetailsDetailsHeading"><span jhiTranslate="simplifyVmsApp.basicDetails.detail.title">Basic Details</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ basicDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.jobRole">Job Role</span></dt>
        <dd>
          <span>{{ basicDetails.jobRole }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.workFromHome">Work From Home</span></dt>
        <dd>
          <span>{{ basicDetails.workFromHome }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'simplifyVmsApp.JobType.' + basicDetails.type }}">{{ basicDetails.type }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.shift">Shift</span></dt>
        <dd>
          <span jhiTranslate="{{ 'simplifyVmsApp.Jobshift.' + basicDetails.shift }}">{{ basicDetails.shift }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.minSalary">Min Salary</span></dt>
        <dd>
          <span>{{ basicDetails.minSalary }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.maxSalRY">Max Sal RY</span></dt>
        <dd>
          <span>{{ basicDetails.maxSalRY }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.openings">Openings</span></dt>
        <dd>
          <span>{{ basicDetails.openings }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.workingDays">Working Days</span></dt>
        <dd>
          <span>{{ basicDetails.workingDays }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.workTimings">Work Timings</span></dt>
        <dd>
          <span>{{ basicDetails.workTimings }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.minEducation">Min Education</span></dt>
        <dd>
          <span jhiTranslate="{{ 'simplifyVmsApp.Qualification.' + basicDetails.minEducation }}">{{ basicDetails.minEducation }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.experience">Experience</span></dt>
        <dd>
          <span jhiTranslate="{{ 'simplifyVmsApp.RequiredExp.' + basicDetails.experience }}">{{ basicDetails.experience }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.gender">Gender</span></dt>
        <dd>
          <span jhiTranslate="{{ 'simplifyVmsApp.GenderReq.' + basicDetails.gender }}">{{ basicDetails.gender }}</span>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.jobDetails">Job Details</span></dt>
        <dd>
          <div *ngIf="basicDetails.jobDetails">
            <a [routerLink]="['/job-details', basicDetails.jobDetails?.id, 'view']">{{ basicDetails.jobDetails?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="simplifyVmsApp.basicDetails.apply">Apply</span></dt>
        <dd>
          <div *ngIf="basicDetails.apply">
            <a [routerLink]="['/apply', basicDetails.apply?.id, 'view']">{{ basicDetails.apply?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/basic-details', basicDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
